.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: var(--spacing-500);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 316px;
  gap: var(--spacing-200);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title .titleLite {
  font-size: var(--text-preset-2-font-size);
  font-weight: var(--text-preset-2-font-weight);
  list-style: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);
  color: var(--grey-500);
}

.title .titleBold {
  font-size: var(--text-preset-1-font-size);
  font-weight: var(--text-preset-1-font-weight);
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-letter-spacing);
  color: var(--grey-500);
}

.description {
  font-size: var(--text-preset-4-font-size);
  font-weight: var(--text-preset-4-font-weight);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
  color: var(--grey-500);
  text-align: center;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-400);
}

/* Tablet (min-width: 768px) */
@media (min-width: 768px) {
  .main {
    margin: 2rem;
    gap: var(--spacing-500);
  }
  .titleWrapper {
    max-width: 33.75rem; /* 540px */
  }
  .cardsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-400);
  }
}
